.footer {
<<<<<<< HEAD
  z-index: 3;
=======
>>>>>>> 95d2c130db5d58edede516c68958cd74e6b5ec34
  padding: 20px 0;

  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 510.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
