.header {
<<<<<<< HEAD
  z-index: 3;
=======
>>>>>>> 95d2c130db5d58edede516c68958cd74e6b5ec34
}
.header__wrapper {
}
.header__container {
}
._conteiner {
}
.header__body {
}
.header__main {
  display: flex;
}
.logo {
  width: 5%;
}

.menu {
  margin: auto 0 auto auto;
}
.menu__list {
  display: flex;
  li {
<<<<<<< HEAD
    color: red;
=======
>>>>>>> 95d2c130db5d58edede516c68958cd74e6b5ec34
    margin-left: 20px;
    font-size: 21px;
    font-weight: 900;
  }
}
