.header {
}
.header__wrapper {
}
.header__container {
}
._conteiner {
}
.header__body {
}
.header__main {
  display: flex;
}
.logo {
  width: 5%;
}

.menu {
  margin: auto 0 auto auto;
}
.menu__list {
  display: flex;
  li {
    margin-left: 20px;
    font-size: 21px;
    font-weight: 900;
  }
}
