.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> 95d2c130db5d58edede516c68958cd74e6b5ec34
}
.page {
  flex: 1 1 auto;

  &__start {
    padding-top: $headerHeight;
  }
}
[class*="__container"] {
  max-width: $widthContainer + $mainOffset * 2;
  margin: 0 auto;
  padding: 16px $mainOffset;
}
